*{
    margin: 0;
    padding: 0;
}

:root{
    --textoparap:1.1rem;

}

/* Limpiar etiquetas basicas*/
ul,a{
    list-style: none;
    text-decoration: none;
}

a{
    color: rgb(255, 255, 255);
}

/* Dar estilos a objetos alternos*/

hr{
    width: 200px;
    height: 3px;
    background-color: #2196f3;
    border: none;
    margin-bottom: 40px ;
}

/* Tratar las secciones*/

section{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 150px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.logo, .navegacion{
    padding: 30px 150px;
}


.navegacion{
    display: flex;
}

.navegacion li{
    margin: 0 15px;
}

          /*Imagen de Fondo*/

          .uno{
            background-image: url(../img/imagen3.jpg);
            height: 80vh;
            background-size: cover;
            justify-content: center;
        
          }
        .uno::after{
            content:"";
            background-color: #414a4f;
            opacity: .75;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;}


    
    
 /*Estilos Hero*/
   
    
.titulo, .titulodos, .btn{
    z-index: 10;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.titulo{
    font-size: 2.5rem;
}

.titulodos{
     font-weight: 100;
     font-size: 1.2rem;
}

.btn{
    background-color: #1f8beb;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .8rem;
    }

    /*Segunda Seccion*/

    .dos{
        background-color: rgb(247, 247, 247);
    }
  
    h3{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    p{
        font-size: var(--textoparap);
        margin-bottom: 20px;
        text-align: center;
    }

    img{
        display: flex;
        width: 500px;
        height: 100%;
        
    }


 /*Tercera Seccion*/

 


